table{
    border: 0px solid black;
    border-spacing: 15px;
}

th,td{
    box-shadow: gray 2px 2px;
}

.obrazek{
    text-align: center;
}

.text{
    padding:45px;
    display: list-item;
    list-style: disc inside;
    border: 0px;
}

table tbody tr:nth-child(3) td {
    background-color: plum;
}

table tbody tr:nth-child(4) td {
    background-color: rgb(229, 166, 182);
}

table tbody tr:nth-child(5) td {
    background-color: rgb(231, 207, 175);
}
 
table tbody tr:nth-child(6) td {
    background-color: rgb(216, 187, 124);
    
}

table tbody tr:nth-child(7) td {
    background-color: rgb(112, 137, 221);
}

table tbody tr:nth-child(8) td{
    background-color: rgb(226, 119, 133);

}

table tbody tr:nth-child(9) td{
    background-color: cyan;
}

th,td{
    border: 1px solid black;
}

.test{
    padding: 40px;
    color: white;
    background-color: #3a3a3a;
    border-color: grey;
    border-width: 100%;
    font-size: 50px;
}


.Cena{
    padding: 40px;
    color: white;
    background-color: #3a3a3a;
    border-color: grey;
    border-width: 100%;
    font-size: 50px;
}
