ul li{
    list-style: none;
    display: inline-block;
}
ul{
    padding: 25px;
    margin: -8px;
    text-align: center;
    background-color: grey;
}
li a{
    color: white;
    text-transform: capitalize;
    padding: 25px;
    border-radius: 5px;
    margin: 0 10px;
    border-color:white;
    border: 1px;
}
*{
    box-sizing: border-box;
    font-family: Arial;
}
#menu a:hover{
    background-color: #555;
}

