*{
    box-sizing: border-box;
    font-family: Arial;
}
body{
    margin: 0px;
    padding: 0px;
}
a{
    text-align: center;
    background-color: grey;
    color: white;
    text-transform: capitalize;
    padding: 25px;
    border-color:white;
    border: 1px;
    text-decoration: none;
    display: inline-block;
}
#menu{
    text-align: center;
    background-color: gray;
}
#menu a:hover{
    background-color: #555;
}
