ul li{
    list-style: none;
    display: inline-block;
}
ul{
    padding: 16px;
    margin: 0px;
    text-align: center;
    background-color: grey;
}
li a{
    color: white;
}
*{
    box-sizing: border-box;
}
