.cv1 p:hover{
    color:purple;
}
.cv2{
    display: flex;
    flex-direction: column;
        p{
            padding: 20px;
            margin: 0px;   
        }
        p:nth-child(3n){
            background-color: rgb(188, 243, 247);
        }
        p:nth-child(1){
            background-color: gray;
        }
        p:nth-child(2){
            background-color: gray;
        }
        p:nth-child(4){
            background-color: gray;
        }
        p:nth-child(5){
            background-color: gray;
        }
        p:nth-child(7){
            background-color: gray;
        }
}
.cv3{
    input:focus{
        color: blueviolet;
    }
}
.cv4{
    p{
        display: inline-block;
        margin: 0px;
        padding: 20px;
    }
    tr:first-child{
        background-color: blue;
    }
    tr:last-child{
        background-color: red;
    }
}
.cv5{
    color: red;
    ol li:not(li.special){
        color: green;
    }
}
