.KObraz{
    max-width: 500px;
    max-height: 350px;
    height: auto;
    position: static;
}
table{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
img{
    max-width: 150px;
    max-height: 150px;
}
.soc{
    text-align: center;
}
.KObraz2{
    max-width: 500px;
    max-height: 350px;
    opacity: 0;
    pointer-events: none;
}
.flexparent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}