.den{
    text-align: center;
    padding: 5px;
}
.nadpisy{
    text-align: center;
}
table{
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
}
th,td{
    border: 1px solid black;
}