*{
    text-transform: capitalize;
}
nav{
    background-color:purple;
    font-size: 26px;
}
nav ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    flex: auto;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
nav ul li:hover{
    background-color: blueviolet;
}
@media all and (max-width: 600px) {
    nav ul{
        flex-direction: row;
        justify-content: space-around;
    }
}