.bim{
    font-size: 50px;
    color:blueviolet;
    text-transform: uppercase;
}
body{
    margin: 0 auto;
    width: 80%;
}
ul li{
    list-style: none;
    display: inline-block;
    text-transform: capitalize;
}
.obr{
    float: left;
    margin: 30px;
}
p{
    clear: right;
}
*{
    box-sizing: border-box;
}