.bim{
    font-size: 50px;
    color:blueviolet;
    text-transform: uppercase;
}
.header{
    background-color:white;

}
*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    width: 80%;
}
ul li{
    list-style: none;
    display: inline-block;
}
.obr{
    float: left;
    margin: 30px;
}
p{
    clear: right;
}